global:
  domain: localhost:8080

dex:
  enabled: true

server:
  insecure: true

configs:
  rbac:
    create: true
    policy.default: role:readonly
    policy.csv: |
      g, descomplicando-gitops-turma-2:devops, role:org-admin
      p, role:org-admin, applications, *, */*, allow
      p, role:org-admin, clusters, get, *, allow
      p, role:org-admin, repositories, *, *, allow
      p, role:org-admin, logs, get, *, allow
      p, role:org-admin, exec, create, */*, allow      
  cm:
    dex.config: | 
      connectors:
        - type: github
          id: github
          name: GitHub
          config:
            clientID: $github-secret:oidc.github.clientID
            clientSecret: $github-secret:oidc.github.clientSecret
            orgs:
            - name: descomplicando-gitops-turma-2
extraObjects:
  - apiVersion: argoproj.io/v1alpha1
    kind: AppProject
    metadata:
      name: backend
    spec:
      sourceRepos:
        - "*"
      destinations:
        - server: "https://kubernetes.default.svc"
          namespace: "*"
      roles:
      - name: developer
        description: Sync rights for backend team
        policies:
        - p, proj:backend:developer, applications, *, backend/*, allow
        groups:
        - descomplicando-gitops-turma-2:backend-team
  - apiVersion: argoproj.io/v1alpha1
    kind: AppProject
    metadata:
      name: frontend
    spec:
      sourceRepos:
        - "*"
      destinations:
        - server: "https://kubernetes.default.svc"
          namespace: "*"
      roles:
      - name: developer
        description: Sync rights for frontend team
        policies:
        - p, proj:frontend:developer, applications, *, frontend/*, allow
        groups:
        - descomplicando-gitops-turma-2:frontend-team