apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: bmi-apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - git:
      repoURL: https://github.com/bernardolsp/microservicos-argocd-treinamento.git
      revision: HEAD
      directories:
      - path: helm/*
  template:
    metadata:
      name: '{{.path.basename}}'
    spec:
      project: "default"
      sources:
        - repoURL: https://github.com/bernardolsp/microservicos-argocd-treinamento.git
          targetRevision: HEAD
          path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{.path.basename}}'
      syncPolicy:
        automated: {}
        syncOptions:
        - CreateNamespace=true

